<% content_for :title, "Editing name" %>

<h1>Editing name</h1>

<%= render "form", name: @name %>

<br>

<div>
  <%= link_to "Show this user", @name.user %> |
  <%= link_to "Back to users", users_path %>
</div>
